frontend/node_modules
frontend/.idea
service-searchRoom/node_modules
service-searchRoom/.idea
for-dev-service-initial-database/node_modules
for-dev-service-initial-database/.idea
service-rentRoom/node_modules
service-rentRoom/.idea
service-uploadPayment/node_modules
service-uploadPayment/.idea
service-register/node_modules
service-register/.idea/
